@use "src/styles/utilities/_variables" as vr;

.button {
  width: 150px;
  max-width: 100%;
  color: var(--colorBackgroundPrimary);
  padding: 5px;
  background-color: var(--backgroundPrimary);
  border-radius: 10px;
  border: none;
}