@use "src/styles/utilities/_variables" as vr;


.title {
  text-align: center;
  font-size: 22px;
  color: var(--colorTextGray);
  margin: vr.$spacingSize50 0;
}
.summary {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  padding: 0 vr.$spacingSize60 vr.$spacingSize50;
}
.doughnutWrapper {
  max-width: 500px;
}

.list {
  counter-reset: my-awesome-counter;
}

.element {
  display: flex;
  align-items: center;
  counter-increment: my-awesome-counter;
  gap: 4px;
  &::before {
    content: counter(my-awesome-counter) " -";
    display: flex;
    margin-right: var(--spacingSize10);
  }
}

.elementAmount {
  font-weight: bold;
}
