@use 'src/styles/utilities/_variables' as vr;

.title {
  text-align: center;
  font-size: 22px;
  color: var(--colorTextGray);
  margin: vr.$spacingSize50 0;
}

.summary {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  padding: 0 vr.$spacingSize60 vr.$spacingSize50;
}

.doughnutWrapper {
  max-width: 500px;

  &.small {
    max-width: 200px;
  }
}

.list {
  counter-reset: my-awesome-counter;
}

.element {
  display: flex;
  align-items: center;
  counter-increment: my-awesome-counter;
  gap: 4px;
}

.elementColor {
  width: 20px;
  height: 20px;
  margin-right: vr.$spacingSize20;
}

.elementName {
  white-space: nowrap;
}
.elementAmount {
  font-weight: bold;
}

.noResults {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.noResultsTitle {
  font-size: 22px;
  color: var(--colorTextGray);
  margin: vr.$spacingSize100 0;
  text-align: center;
}
