@use "src/styles/utilities/_variables" as vr;

.subtitle {
  text-align: center;
  color: var(--colorTextGray);
  font-size: 18px;
  font-weight: 500;
}

.totalCallsWrapper {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  padding: 50px;
}

.totalCallsColor {
  display: flex;
  width: 25px;
  height: 25px;
  margin-right: vr.$spacingSize20;
  font-size: 18px;
  margin-bottom: vr.$spacingSize20;
}

.doughnutWrapper {
  max-width: 500px;
}

.element {
  display: flex;
  align-items: center;
}

.elementAmount {
  font-weight: bold;
  margin-left: vr.$spacingSize20;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dateRangeButton {
  display: flex;
  font-family: var(--fontFamilyPrimary);
  color: var(--colorTextGray);
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  .icon {
    margin-left: vr.$spacingSize10;
  }
}