@use "src/styles/utilities/_variables" as vr;

.totalCallsWrapper {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  padding: 50px;
}

.totalCallsColor {
  display: flex;
  width: 25px;
  height: 25px;
  margin-right: vr.$spacingSize20;
  font-size: 18px;
  margin-bottom: vr.$spacingSize20;
}

.doughnutWrapper {
  max-width: 500px;
}

.element {
  display: flex;
  align-items: center;
}

.elementAmount {
  font-weight: bold;
  margin-left: vr.$spacingSize20;
}

.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
  font-weight: bold;
  color: var(--colorTextGray);
}

.mainChart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.arrowBtn {
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--colorTextGray);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--boxShadow);
  transition: all 0.15s ease-in-out;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    cursor: pointer;
    scale: 1.1;
  }
}

.mainChartMiddle {
  width: 100%;
}

.mainChartTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: vr.$spacingSize20;
  text-align: center;
  color: var(--colorTextGray);
}
