@use "src/styles/utilities/_variables" as vr;

.wrapper {
  display: flex;
  flex-direction: column;
}
.section {
  margin: vr.$spacingSize80 0;
}
.sectionTitle {
  font-size: 42px;
  text-align: center;
}
